<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right" ng-show="model.showFlag">
            <a ng-click="model.addWidget(model.widget)">
            <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">Choose Widget</a>
        </div>
    </div>
</nav>
<div ng-show="model.showFlag" class="container-fluid">
 <ng-include src="model.getEditorTemplateUrl(model.widgetType)"></ng-include>
</div>

<div ng-show="!model.showFlag">
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    <a ng-click="model.setWidgetTypeType('HEADER')">
                        Header
                    </a>
                </div>
            </div>
        </li>
        <!--<li class="list-group-item">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-6">-->
                    <!--<a>Label</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    <a ng-click="model.setWidgetTypeType('HTML')">HTML</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    <a ng-click="model.setWidgetTypeType('TEXT')">
                        Text
                    </a>
                </div>
            </div>
        </li>
        <!--<li class="list-group-item">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-6">-->
                    <!--<a>Link</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="list-group-item">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-6">-->
                    <!--<a>Button</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    <a ng-click="model.setWidgetTypeType('IMAGE')">
                        Image
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    <a ng-click="model.setWidgetTypeType('YOUTUBE')">
                        YouTube
                    </a>
                </div>
            </div>
        </li>
        <!--<li class="list-group-item">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-6">-->
                    <!--<a>Data Table</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="list-group-item">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-6">-->
                    <!--<a>Repeater</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
    </ul>

</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>