<h1>IMAGE Editor</h1>

<label>Name</label>
<input type="text" class="form-control" ng-model="model.widget.name" placeholder="Name"/>

<label>Text</label>
<input type="text" class="form-control" ng-model="model.widget.text" placeholder="Text"/>

<label>URL</label>
<input type="url" class="form-control" ng-model="model.widget.url" placeholder="URL"/>

<label>Width</label>
<input  class="form-control" ng-model="model.widget.width" placeholder="Width"/>

<label>Upload</label>
<input type="file" class="form-control" />

<a ng-show="model.addSe" ng-click="model.addWidget(model.widget)" class="btn btn-primary btn-block">
    Upload Image
</a>
<div ng-show="model.updateWi">
    <a ng-click="model.deleteWidget(model.widget)" class="btn btn-danger btn-block">
        Delete
    </a>
</div>